---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: test_role
    image: quay.io/centos/centos:stream8
    pre_build_image: true
provisioner:
  name: ansible
verifier:
  name: testinfra
